WebAppCliente/WebAppCliente/Service References/ServiceReferenceCliente/ServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52196/ServiceCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52196/ServiceCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52196/ServiceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCliente" />
      <xsd:import schemaLocation="http://localhost:52196/ServiceCliente.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCliente_InsertClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_InsertClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_SelectClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClientDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_SelectClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_DeleteClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_DeleteClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_UpdateClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_UpdateClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_UpdateRegistrationTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationTable" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_UpdateRegistrationTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCliente">
    <wsdl:operation name="InsertClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/InsertClientDetails" message="tns:IServiceCliente_InsertClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/InsertClientDetailsResponse" message="tns:IServiceCliente_InsertClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/SelectClientDetails" message="tns:IServiceCliente_SelectClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/SelectClientDetailsResponse" message="tns:IServiceCliente_SelectClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/DeleteClientDetails" message="tns:IServiceCliente_DeleteClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/DeleteClientDetailsResponse" message="tns:IServiceCliente_DeleteClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/UpdateClientDetails" message="tns:IServiceCliente_UpdateClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/UpdateClientDetailsResponse" message="tns:IServiceCliente_UpdateClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/UpdateRegistrationTable" message="tns:IServiceCliente_UpdateRegistrationTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/UpdateRegistrationTableResponse" message="tns:IServiceCliente_UpdateRegistrationTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCliente" type="tns:IServiceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertClientDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/InsertClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClientDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/SelectClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/DeleteClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/UpdateClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationTable">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/UpdateRegistrationTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCliente">
    <wsdl:port name="BasicHttpBinding_IServiceCliente" binding="tns:BasicHttpBinding_IServiceCliente">
      <soap:address location="http://localhost:52196/ServiceCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>